- name: Install Custom addons
  unarchive:
    src: "{{ smb_share }}/custom_addons/{{ customer.name }}/{{ env }}/in/{{ addon }}.zip"
    dest: "{{ customer.addon_path }}"
    remote_src: yes
    owner: odoo
    group: odoo
  loop: "{{ addon_names }}"
  loop_control:
    loop_var: addon

- name: Generate timestamp
  set_fact:
    ts: "{{ lookup('pipe', 'date +%Y%m%d_%H%M') }}"

- name: Archive installed addons per node backend
  command: >
    cp {{ smb_share }}/custom_addons/{{ customer.name }}/{{ env }}/in/{{ addon }}.zip
       {{ smb_share }}/custom_addons/{{ customer.name }}/{{ env }}/arc/{{ addon }}.zip_{{ backend }}_{{ ts }}
  args:
    removes: "{{ smb_share }}/custom_addons/{{ customer.name }}/{{ env }}/in/{{ addon }}.zip"
  loop: "{{ addon_names }}"
  loop_control:
    loop_var: addon

