---

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: enable prometheus
  systemd:    
    name: prometheus
    enabled: yes  

- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted