[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ app_folder }}/prometheus \
    --config.file={{ prometheus_conf_dir }}/prometheus.yml \
    --storage.tsdb.path={{ data_folder }} \
    --web.console.templates={{ app_folder }}/consoles \
    --web.console.libraries={{ app_folder }}/console_libraries

ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target