---

- name: Create custom directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ influxdb_user }}"
    group: "{{ influxdb_group }}"
    mode: '0755'
  loop:
    - "{{ app_folder }}"
    - "{{ data_folder }}"

- name: Download and unarchive InfluxDB
  unarchive:
    src: "{{ influxdb_download_url }}"
    dest: /tmp
    remote_src: yes
    creates: "/tmp/influxdb2-client-{{ influxdb_version }}-linux-amd64"

- name: Copy binaries to /apps/influxdb
  copy:
    src: "/tmp/influxdb2_linux_amd64/{{ item }}"
    dest: "{{ app_folder }}/{{ item }}"
    owner: "{{ influxdb_user }}"
    group: "{{ influxdb_group }}"
    mode: '0755'
    remote_src: yes
  loop:
    - influxd
    - influx

- name: Deploy InfluxDB Systemd service
  template:
    src: influxdb.service.j2
    dest: /etc/systemd/system/influxdb.service
  notify: restart influxdb

- name: Ensure InfluxDB is started and enabled
  systemd:
    name: influxdb
    state: started
    enabled: yes
    daemon_reload: yes