---

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: enable node_exporter
  systemd:    
    name: node_exporter
    enabled: yes  

- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted