---
- name: Install System Dependencies
  apt:
    name:
      - python3-pip
      - python3-dev
      - python3-venv
      - libxml2-dev
      - libxslt1-dev
      - libldap2-dev
      - libsasl2-dev
      - libjpeg-dev
      - node-less
      - postgresql-client
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - libpq-dev
      - build-essential
    state: present
    update_cache: yes
