- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart grafana
  systemd:
    name: grafana-server
    state: restarted
    enabled: yes

- name: enable grafana
  systemd:
    name: grafana-server
    enabled: yes 

- name: start grafana
  systemd:      
    name: grafana-server
    state: started