- name: Install PostgreSQL
  apt:
    name: postgresql
    state: present
  become: yes
  become_method: su
  
- name: Create PostgreSQL user for customer
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.db_password }}"
    role_attr_flags: "NOSUPERUSER,NOCREATEDB"
  become: yes
  become_user: postgres

- name: Create PostgreSQL database for customer
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.name }}"
  become: yes
  become_user: postgres

- name: Revoke public access to ensure isolation
  community.postgresql.postgresql_privs:
    db: "{{ item.name }}"
    role: PUBLIC
    objs: ALL_IN_SCHEMA
    privs: ALL
    state: absent
  become: yes
  become_user: postgres