[options]
admin_passwd = {{ admin_password | default('admin') }}
db_host = {{ db_host_internal }}
db_user = {{ customer.db_user }}
db_password = {{ customer.db_password }}
db_name = {{ customer.db_name }}
db_port = {{ pgbouncer_port }}
dbfilter = ^{{ customer.db_name }}$
list_db = False # TODO

# Custom Paths
data_dir = {{ data_folder }}/filestore/{{ customer.name }}
logfile = {{ data_folder }}/logs/{{ customer.name }}.log
pidfile = {{ app_folder }}/conf/{{ customer.name }}.pid

# Networking
http_port = {{ customer.port }}
# gevent_port = {{ customer.port + 1000 }}
longpolling_port = {{ customer.port + 1000 }}
proxy_mode = True
http_interface = 0.0.0.0

# Addons
addons_path = {{ app_folder }}/source/addons,{{ app_folder }}/custom/{{ customer.name }}
without_demo = all

# FreeIPA / LDAP Integration logic
# Note: LDAP configuration is usually finalized inside the Odoo UI via auth_ldap module,
# but these settings ensure the server is ready.
# ldap_server = "{{ ldap_server }}"
# ldap_base = "{{ ldap_base_dn }}"

workers = {{ odoo_workers }}
max_cron_threads = 1

# Performance Tuning

; --- Memory Safety (Per Instance) ---
limit_memory_hard = 1342177280
limit_memory_soft = 1073741824
limit_time_cpu = 600
limit_time_real = 1200
limit_time_real_signals = 1200
limit_request = 8192