---
- name: Stopped Odoo Instance {{ customer.name }}
  systemd:
    name: "odoo@{{ customer.name }}"
    state: stopped
    enabled: yes

- name: Create Customer Filestore {{ customer.name }}
  file:
    path: "{{ data_folder }}/filestore/{{ customer.name }}"
    state: directory
    owner: "{{ odoo_user }}"
    group: "{{ odoo_group }}"

- name: Create Customer Custom addons Directory {{ customer.name }}
  file:
    path: "{{ app_folder }}/custom/{{ customer.name }}"
    state: directory
    owner: "{{ odoo_user }}"
    group: "{{ odoo_group }}"
    mode: "0755"

- name: Generate Odoo Config {{ customer.name }}
  template:
    src: odoo.conf.j2
    dest: "{{ app_folder }}/conf/{{ customer.name }}.conf"
    owner: "{{ odoo_user }}"
    group: "{{ odoo_group }}"
    mode: '0640'
    backup: yes
  tags: conf

- name: Start Odoo Instance {{ customer.name }}
  systemd:
    name: "odoo@{{ customer.name }}"
    state: started
    enabled: yes
  tags: conf
