- name: Create Directory Tree
  file:
    path: "{{ dir_path }}"
    state: directory
    owner: "{{ odoo_user }}"
    group: "{{ odoo_user }}"
    mode: '0755'
  loop:
    - "{{ app_folder }}"
    - "{{ app_folder }}/conf"
    - "{{ app_folder }}/custom"
    - "{{ data_folder }}/logs"
    - "{{ data_folder }}/filestore"
  loop_control:
    loop_var: dir_path
  tags: folders  

- name: Download Odoo {{ odoo_version }} Source Code
  git:
    repo: 'https://www.github.com/odoo/odoo'
    dest: "{{ app_folder }}/source"
    depth: 1
    version: "{{ odoo_version }}"
    single_branch: yes
    force: yes
  become_user: "{{ odoo_user }}"
  tags: source

- name: Create  Python Virtual Environment
  command: python3 -m venv {{ app_folder }}/venv
  args:
    creates: "{{ app_folder }}/venv/bin/activate"
  become_user: "{{ odoo_user }}"

- name: Upgrade pip tooling in venv
  pip:
    name:
      - pip
      - setuptools
      - wheel
    state: latest
    virtualenv: "{{ app_folder }}/venv"
  become_user: "{{ odoo_user }}"

- name: Install Odoo requirements
  pip:
    requirements: "{{ app_folder }}/source/requirements.txt"
    virtualenv: "{{ app_folder }}/venv"
  become_user: "{{ odoo_user }}"  

- name: Deploy Systemd Service Template
  template:
    src: odoo_service.j2
    dest: /etc/systemd/system/odoo@.service
    mode: '0644'
  notify: reload systemd
  tags: service

- name: Setup Customer Specifics
  include_tasks: customer_app.yml
  loop: "{{ customers }}"
  loop_control:
    loop_var: customer
  when: "target_customers is not defined or customer.name in target_customers"  
  tags: conf
