- name: Create Directory Tree
  file:
    path: "{{ item }}"
    state: directory
    owner: odoo
    group: odoo
    mode: '0755'
  loop:
    - "{{ app_folder }}"
    - "{{ app_folder }}/configs"
    - "{{ app_folder }}/custom"
    - "{{ data_folder }}/logs"
    - "{{ data_folder }}/filestore"

- name: Download Odoo Source Code
  git:
    repo: 'https://www.github.com/odoo/odoo'
    dest: "{{ app_folder }}/source"
    depth: 1
    version: "{{ odoo_version }}"
  become_user: odoo

- name: Create Python Virtual Environment
  pip:
    requirements: "{{ app_folder }}/source/requirements.txt"
    virtualenv: "{{ app_folder }}/venv"
    virtualenv_command: python3 -m venv
  become_user: odoo  

- name: Deploy Systemd Service Template
  template:
    src: odoo_service.j2
    dest: /etc/systemd/system/odoo@.service
    mode: '0644'
  notify: reload systemd

- name: Setup Customer Specifics
  include_tasks: customer_app.yml
  loop: "{{ customers }}"
  loop_control:
    label: "{{ item.name }}"
